* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    color: #333333;
}
header {
    background-color: #806BDC;
    color: white;
    text-align: center;
    padding: 25px;
}
header h1 {
    margin-bottom: 5px;
}

nav {
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
}

nav li {
    text-align: center;
}

nav a {
    color: #333333;
    text-decoration: none;
}

nav img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 8px;
    border-radius: 10px;
}

.ofertas {
    background-color: #eeeeee;
    text-align: center;
    padding: 30px 15px;
}

.imagen-oferta {
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
}

.ofertas h2 {
    color: #806BDC;
    margin: 25px 0 15px;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #806BDC;
    color: white;
}

th,
td {
    border: 1px solid #999999;
    padding: 12px;
}

.informacion {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 35px 0;
}

.informacion h2 {
    color: #806BDC;
    margin: 20px 0 10px;
}

.informacion p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.informacion ul {
    margin-left: 25px;
}

.informacion li {
    margin-bottom: 8px;
}

footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 20px;
}

strong{
    color: red;
    font-size: 26px;
    padding: 5px;
}