body {
    background-color: lightblue;
}

.cara {
    background-color: yellow;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    border-radius: 100%;
    border: 0px solid black;
}

.ojos {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.ojo {
    background-color: white;
    width: 60px;
    height: 90px;
    border: 0px solid black;
    border-radius: 50%;
    position: relative;
}

.pupila {
    width: 25px;
    height: 30px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.boca {
    width: 50%;
    height: 75px;
    background-color: black;
    border: 0px solid black;
    border-radius: 0px 0px 100% 100%;
    overflow: hidden;
    left: 50%;
    top: 50%;
}